<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>minghaimuyuan.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
				<key>dateExpires</key>
				<string>2024/4/11</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
						<key>dateExpires</key>
						<string>2024/4/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FFMP9H7RTT</string>
						<key>name</key>
						<string>Kerimcan Kestirmece</string>
					</dict>
					<key>versionNumber</key>
					<string>5.6.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
						<key>dateExpires</key>
						<string>2024/4/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AliyunOSSiOS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FFMP9H7RTT</string>
						<key>name</key>
						<string>Kerimcan Kestirmece</string>
					</dict>
					<key>versionNumber</key>
					<string>2.10.16</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
						<key>dateExpires</key>
						<string>2024/4/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cache.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FFMP9H7RTT</string>
						<key>name</key>
						<string>Kerimcan Kestirmece</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
						<key>dateExpires</key>
						<string>2024/4/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CleanJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FFMP9H7RTT</string>
						<key>name</key>
						<string>Kerimcan Kestirmece</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
						<key>dateExpires</key>
						<string>2024/4/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DeviceKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FFMP9H7RTT</string>
						<key>name</key>
						<string>Kerimcan Kestirmece</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
						<key>dateExpires</key>
						<string>2024/4/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ESPullToRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FFMP9H7RTT</string>
						<key>name</key>
						<string>Kerimcan Kestirmece</string>
					</dict>
					<key>versionNumber</key>
					<string>2.9.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
						<key>dateExpires</key>
						<string>2024/4/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FSPagerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FFMP9H7RTT</string>
						<key>name</key>
						<string>Kerimcan Kestirmece</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
						<key>dateExpires</key>
						<string>2024/4/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GKNavigationBarSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FFMP9H7RTT</string>
						<key>name</key>
						<string>Kerimcan Kestirmece</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
						<key>dateExpires</key>
						<string>2024/4/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>JXPagingView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FFMP9H7RTT</string>
						<key>name</key>
						<string>Kerimcan Kestirmece</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
						<key>dateExpires</key>
						<string>2024/4/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>JXSegmentedView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FFMP9H7RTT</string>
						<key>name</key>
						<string>Kerimcan Kestirmece</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
						<key>dateExpires</key>
						<string>2024/4/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FFMP9H7RTT</string>
						<key>name</key>
						<string>Kerimcan Kestirmece</string>
					</dict>
					<key>versionNumber</key>
					<string>7.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
						<key>dateExpires</key>
						<string>2024/4/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Lantern.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FFMP9H7RTT</string>
						<key>name</key>
						<string>Kerimcan Kestirmece</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
						<key>dateExpires</key>
						<string>2024/4/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FFMP9H7RTT</string>
						<key>name</key>
						<string>Kerimcan Kestirmece</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
						<key>dateExpires</key>
						<string>2024/4/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PPBadgeViewSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FFMP9H7RTT</string>
						<key>name</key>
						<string>Kerimcan Kestirmece</string>
					</dict>
					<key>versionNumber</key>
					<string>3.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
						<key>dateExpires</key>
						<string>2024/4/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Rswift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FFMP9H7RTT</string>
						<key>name</key>
						<string>Kerimcan Kestirmece</string>
					</dict>
					<key>versionNumber</key>
					<string>5.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
						<key>dateExpires</key>
						<string>2024/4/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxAnimated.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FFMP9H7RTT</string>
						<key>name</key>
						<string>Kerimcan Kestirmece</string>
					</dict>
					<key>versionNumber</key>
					<string>0.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
						<key>dateExpires</key>
						<string>2024/4/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FFMP9H7RTT</string>
						<key>name</key>
						<string>Kerimcan Kestirmece</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
						<key>dateExpires</key>
						<string>2024/4/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxGesture.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FFMP9H7RTT</string>
						<key>name</key>
						<string>Kerimcan Kestirmece</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
						<key>dateExpires</key>
						<string>2024/4/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxKeyboard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FFMP9H7RTT</string>
						<key>name</key>
						<string>Kerimcan Kestirmece</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
						<key>dateExpires</key>
						<string>2024/4/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FFMP9H7RTT</string>
						<key>name</key>
						<string>Kerimcan Kestirmece</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
						<key>dateExpires</key>
						<string>2024/4/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FFMP9H7RTT</string>
						<key>name</key>
						<string>Kerimcan Kestirmece</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
						<key>dateExpires</key>
						<string>2024/4/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwiftExt.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FFMP9H7RTT</string>
						<key>name</key>
						<string>Kerimcan Kestirmece</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
						<key>dateExpires</key>
						<string>2024/4/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FFMP9H7RTT</string>
						<key>name</key>
						<string>Kerimcan Kestirmece</string>
					</dict>
					<key>versionNumber</key>
					<string>5.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
						<key>dateExpires</key>
						<string>2024/4/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftDate.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FFMP9H7RTT</string>
						<key>name</key>
						<string>Kerimcan Kestirmece</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
						<key>dateExpires</key>
						<string>2024/4/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftTheme.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FFMP9H7RTT</string>
						<key>name</key>
						<string>Kerimcan Kestirmece</string>
					</dict>
					<key>versionNumber</key>
					<string>0.6.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
						<key>dateExpires</key>
						<string>2024/4/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwifterSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FFMP9H7RTT</string>
						<key>name</key>
						<string>Kerimcan Kestirmece</string>
					</dict>
					<key>versionNumber</key>
					<string>5.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
						<key>dateExpires</key>
						<string>2024/4/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FFMP9H7RTT</string>
						<key>name</key>
						<string>Kerimcan Kestirmece</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
						<key>dateExpires</key>
						<string>2024/4/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyUserDefaults.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FFMP9H7RTT</string>
						<key>name</key>
						<string>Kerimcan Kestirmece</string>
					</dict>
					<key>versionNumber</key>
					<string>5.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
						<key>dateExpires</key>
						<string>2024/4/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Then.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FFMP9H7RTT</string>
						<key>name</key>
						<string>Kerimcan Kestirmece</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
						<key>dateExpires</key>
						<string>2024/4/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ViewAnimator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FFMP9H7RTT</string>
						<key>name</key>
						<string>Kerimcan Kestirmece</string>
					</dict>
					<key>versionNumber</key>
					<string>3.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
						<key>dateExpires</key>
						<string>2024/4/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>WHC_KeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FFMP9H7RTT</string>
						<key>name</key>
						<string>Kerimcan Kestirmece</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
						<key>dateExpires</key>
						<string>2024/4/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>WHC_Layout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FFMP9H7RTT</string>
						<key>name</key>
						<string>Kerimcan Kestirmece</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E37B4AE699C9F065ED8CAC930BC959761929F8C7</string>
						<key>dateExpires</key>
						<string>2024/4/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ZLPhotoBrowser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FFMP9H7RTT</string>
						<key>name</key>
						<string>Kerimcan Kestirmece</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.9</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>FFMP9H7RTT.com.minghaimuyuan.lenny</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>webcredentials:example.com</string>
					<string>applinks:minghaimuyuan.xyz</string>
					<string>applinks:minghaimuyuan.vip</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>FFMP9H7RTT</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>minghaimuyuan.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>248c1b8a-d593-46ba-a59c-57b7a3dcdc5f</string>
				<key>dateExpires</key>
				<string>2024/4/11</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.minghaimuyuan.lenny</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>FFMP9H7RTT</string>
				<key>name</key>
				<string>Kerimcan Kestirmece</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
